
<!--
 * @author Steven
 * @date   20200429
 * @brief  Fan speed control
-->

<loader loading="loading"></loader>
<div>
	<div class="row column">
		<h1>Fan speed control</h1>
    </div>
	<div>
		<form class="fan-config__form" role="form" action="">
			<div class="column small-12 large-3">
				<label>Choose Fan to Set Speed:</label>
				<select id="usi-Fan" ng-model="fan.owner" class="date-time__owner-dropdown">
					<option class="courier-bold" ng-repeat="fan in fans">{{fan}}</option>
				</select>
			</div>
			<div class="column small-12 large-3">
				<label>Fan Speed:</label>
				<input type="number" id="Fanx_INLET" min="0" max="255" ng-model="Fanx_INLET">
			</div>
			<!-- <div class="column small-12 large-3">
				<label>Fan1_OUTLET Speed:</label>
				<input  type="number" id="Fan1_OUTLET" min="100" max="24500" ng-model="Fan1_OUTLET"/>
			</div>
			<div class="column small-12 large-3">
				<label>Fan2_INLET  Speed:</label>
				<input type="number" id="Fan2_INLET" min="100" max="24500" ng-model="Fan2_INLET">
			</div>
			<div class="column small-12 large-3">
				<label>Fan2_OUTLET Speed:</label>
				<input type="number" id="Fan2_OUTLET" min="100" max="24500" ng-model="Fan2_OUTLET"/>
			</div>
			
			<div class="column small-12 large-3">
				<label>Fan3_INLET  Speed:</label>
				<input type="number" id="Fan3_INLET" min="100" max="24500" ng-model="Fan3_INLET">
			</div>
			<div class="column small-12 large-3">
				<label>Fan3_OUTLET Speed:</label>
				<input type="number" id="Fan3_OUTLET" min="100" max="24500" ng-model="Fan3_OUTLET"/>
			</div>
			<div class="column small-12 large-3">
				<label>Fan4_INLET  Speed:</label>
				<input type="number" id="Fan4_INLET" min="100" max="24500" ng-model="Fan4_INLET">
			</div>
			<div class="column small-12 large-3">
				<label>Fan4_OUTLET Speed:</label>
				<input type="number" id="Fan4_OUTLET" min="100" max="24500" ng-model="Fan4_OUTLET"/>
			</div>
			
			<div class="column small-12 large-3">
				<label>Fan5_INLET  Speed:</label>
				<input type="number" id="Fan5_INLET" min="100" max="24500" ng-model="Fan5_INLET">
			</div>
			<div class="column small-12 large-3">
				<label>Fan5_OUTLET Speed:</label>
				<input type="number" id="Fan5_OUTLET" min="100" max="24500" ng-model="Fan5_OUTLET"/>
			</div>
			<div class="column small-12 large-3">
				<label>Fan6_INLET  Speed:</label>
				<input type="number" id="Fan6_INLET" min="100" max="24500" ng-model="Fan6_INLET">
			</div>
			<div class="column small-12 large-3">
				<label>Fan6_OUTLET Speed:</label>
				<input type="number" id="Fan6_OUTLET" min="100" max="24500" ng-model="Fan6_OUTLET"/>
			</div> -->
			
			
			<div class="row column">
				<div class="fan-config__submit-wrapper column">
					<div class="float-right">
						<button type="button" class="btn  btn-secondary" ng-click="refresh()">Cancel</button>
						<button type="button" class="btn  btn-primary" ng-click="confirmSettings=true;">Save settings</button>
					</div>
				</div>
			</div>
		
		</form>
	</div>

</div>

<div class="modal-overlay" tabindex="-1" ng-class="{'active': confirmSettings}"></div>
<section class="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" ng-class="{'active': confirmSettings}">
	<div class="modal__tftp-unreachable" role="document">
		<div class="screen-reader-offscreen modal-description">Change fan speed settings</div>
		<div class="page-header">
			<span class="icon icon__warning inline"><span class="accessible-text" role="alert">Warning</span></span>
			<h3 class="modal-title inline">Change fan speed settings</h3>
		</div>
		<div class="modal__content">
			<p>Change fan speed settings will cause the fan speed change.</p>
		</div>
		<div class="modal__button-wrapper">
			<button class="btn btn-secondary" ng-click="confirmSettings=false;">Cancel</button>
			<button class="btn btn-primary" ng-click="setFanSpeed()">Continue</button>
		</div>
    </div>
</section>