
<!--
 * @author Steven
 * @date   20200429
 * @brief  Fan speed control
-->

<!-- <loader loading="loading"></loader> -->
<div>
	<div class="row column">
		<h1>Fan speed control</h1>
    </div></br>
	<div>
		<form class="fan-config__form" role="form" action="">
			<div class="column small-12 large-3">
				<label>Choose Fan to Set Speed:</label>
				<!-- <select id="usi-Fan" ng-model="fanId" class="date-time__owner-dropdown">
					<option value="Fan1_INLET" >Fan1_INLET</option>
					<option value="Fan1_OUTLET" >Fan1_OUTLET</option>
					<option value="Fan2_INLET" >Fan2_INLET</option>
					<option value="Fan2_OUTLET" >Fan2_OUTLET</option>
					<option value="Fan3_INLET" >Fan3_INLET</option>
					<option value="Fan3_OUTLET" >Fan3_OUTLET</option>
					<option value="Fan4_INLET" >Fan4_INLET</option>
					<option value="Fan4_OUTLET" >Fan4_OUTLET</option>
					<option value="Fan5_INLET" >Fan5_INLET</option>
					<option value="Fan5_OUTLET" >Fan5_OUTLET</option>
					<option value="Fan6_INLET" >Fan6_INLET</option>
					<option value="Fan6_OUTLET" >Fan6_OUTLET</option>
				</select> -->
				<select id="usi-Fan" ng-model="fanId" class="date-time__owner-dropdown">
                    <option class="courier-bold" ng-repeat="fanId in fans">{{fanId}}</option>
                </select>
			</div>
			<div class="column small-12 large-3">
				<label>Fan Speed:</label>
				<input type="number" id="FanId_INLET" min="0" max="255" step="5" ng-model="speed" />
			</div>
			</br>
			<div class="row column">
				<div class="fan-config__submit-wrapper column">
					<div class="float-right">
						<button type="button" class="btn  btn-secondary" ng-click="refresh()">Cancel</button>
						<button type="button" class="btn  btn-primary" ng-click="confirmSettings=true">Save settings</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal-overlay" tabindex="-1" ng-class="{'active': confirmSettings}"></div>
<section class="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" ng-class="{'active': confirmSettings}">
	<div class="modal__tftp-unreachable" role="document">
		<div class="screen-reader-offscreen modal-description">Change fan speed settings</div>
		<div class="page-header">
			<span class="icon icon__warning inline"><span class="accessible-text" role="alert">Warning</span></span>
			<h3 class="modal-title inline">Change fan speed settings</h3>
		</div>
		<div class="modal__content">
			<p>Change fan speed settings will cause the fan speed change.</p>
		</div>
		<div class="modal__button-wrapper">
			<button class="btn btn-secondary" ng-click="confirmSettings=false">Cancel</button>
			<button class="btn btn-primary" ng-click="setFanSpeed()">Continue</button>
		</div>
    </div>
</section>