
<!--
 * @author Steven
 * @date   20200423
 * @brief  get partition topology information
-->

<loader loading="loading"></loader>
<div class="usi-partition">
	<div class="row column">
		<h1>Partition information</h1>
    </div>
	<ul class="ulimg" id="imgs">
		<li class="par1">
			<div align="center" ng-show="patopo1 == true">
				 <img id="ssd24" src="../../../assets/images/partition1.png"/>
			</div>
		</li>
		<li class="par2">
			<div align="center" ng-show="patopo2 == true">
				<img id="ssd12" src="../../../assets/images/partition2.png"/>
			</div>
		</li>
		<li class="par4">
			<div align="center" ng-show="patopo4 == true">
				<img id="ssd6" src="../../../assets/images/partition4.png"/>
			</div>
		</li>
	</ul>
	<!-- <div>
		<button onclick="draw()">load image</button>     
		<canvas id="canvas" width="780" height="340" align="middle" style="border:1px solid #d3d3d3;" />
	</div> -->
		
	<div class="usi-patopo" ng-show="partition_1 == true">
		<table id='usi-partition1_0' align="center" ng-show="partition1_0 != 'None'">
            <thead class='ssd-body-header'>
				<tr><td align='center' valian='middle' colspan='2'><b>{{name1_0}}</b></td></tr>
                <tr><th>Item</th><th>Value</th></tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(key, value) in partition1_0">
                    <td>{{key}}</td><td>{{value}}</td>
                </tr>
            </tbody>
        </table>
	</div>
 	<div class="usi-patopo" ng-show="partition_2 == true">
		<table align="center">
			<tr><td>
				<table id='usi-partition2_0'  ng-show="partition2_0 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name2_0}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition2_0">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='usi-partition2_1' ng-show="partition2_1 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name2_1}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition2_1">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td></tr>	
		</table>		
    </div>
	<div class="usi-patopo" ng-show="partition_4 == true">
		<table align="center">
			<tr><td>
				<table id='usi-partition4_0' ng-show="partition4_0 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name4_0}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition4_0">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='usi-partition4_1' ng-show="partition4_1 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name4_1}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition4_1">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='usi-partition4_2' ng-show="partition4_2 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name4_2}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition4_2">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='usi-partition4_3' ng-show="partition4_3 != 'None'">
					<thead class='ssd-body-header'>
						<tr><td align='center' valian='middle' colspan='2'><b>{{name4_3}}</b></td></tr>
						<tr><th>Item</th><th>Value</th></tr>
					</thead>
					<tbody class="ssd-body-tbody">
						<tr ng-repeat="(key, value) in partition4_3">
							<td>{{key}}</td><td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</td></tr>		
		</table>		
    </div>

</div>