
<!--
 * @author Steven
 * @date   20200423
 * @brief  get partition topology information
-->

<loader loading="loading"></loader>
<div class="usi-partition">
	<div class="row column">
		<!-- <h1>Partition topology</h1>
		<img class="ssd-image" id="lamp" src="partitionName"/> -->
    </div>
	<ul class="ulimg" id="imgs">
		<li class="partition1">
			<div ng-show="patopo1 == true">
				 <img id="ssd24" src="../../../assets/images/partition24.png"/>
			</div>
		</li>
		<li class="partition2">
			<div ng-show="patopo2 == true">
				<img id="ssd12" src="../../../assets/images/partition2.png" />
			</div>
		</li>
		<li class="partition6">
			<div ng-show="patopo6 == true">
				<img id="ssd6" src="../../../assets/images/partition6.png" />
			</div>
		</li>
	</ul>
	<!-- <div>
		<button onclick="draw()">load image</button>     
		<canvas id="canvas" width="780" height="340" align="middle" style="border:1px solid #d3d3d3;" />
	</div> -->
	
		
 	<div id="usi-patopo" class="">
        <table id='ssd-info-body' ng-show="partition20 != 'None'">
            <thead class='ssd-body-header'>
				<tr><td align='center' valian='middle' colspan='2'><b>{{name20}}</b></td></tr>
                <tr><th>Item</th><th>Value</th></tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(key, value) in partition20">
                    <td>{{key}}</td><td>{{value}}</td>
                </tr>
            </tbody>
        </table>
		<table id='ssd-info-body' ng-show="partition21 != 'None'">
            <thead class='ssd-body-header'>
				<tr><td align='center' valian='middle' colspan='2'><b>{{name21}}</b></td></tr>
                <tr><th>Item</th><th>Value</th></tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(key, value) in partition21">
                    <td>{{key}}</td><td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>