
<!--
 * @author Judy
 * @date   20190524
 * @brief  ssd inventory operations modify base the file of power usage controller
-->

<loader loading="loading"></loader>
<div id="ssd-info">
    <div class="row column">
        <h1>JBOF inventory information</h1>
    </div>

<!--     <div id='ssd-header' class="row column header-row">
        <table id='ssd-info-header'>
            <tr>
                <td ng-mouseover="changeStatus('ssd')">SSD information</td>
                <td ng-mouseover="changeStatus('cable')">Cable information</td>
                <td ng-mouseover="changeStatus('swinfo')">Swinfo information</td>
                <td ng-mouseover="changeStatus('dsp')">dspinfo information</td>
                <td ng-mouseover="changeStatus('patopo')">patopo information</td>
                <td ng-mouseover="changeStatus('bind')">bindinfo information</td>
                <td ng-mouseover="changeStatus('ps')">Power supply information</td>
            </tr>
        </table>
    </div> -->


		<div class="allImage" >
			<ul class="ulimg" id="imgs"><li>
				<img id="frontImg" src="../../../assets/images/J2024-03-front.png" class="ssd-image" alt="ssd" usemap="#SSDmap"/>
				<map name="SSDmap" >
					<area shape="rect" coords="58,10,80,140" alt="ssd1" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD1')" ng-mouseout="leave('SSD1')">
					<area shape="rect" coords="86,10,108,140" alt="ssd2" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD2')" ng-mouseout="leave('SSD2')"/>
					<area shape="rect" coords="114,10,136,140" alt="ssd3" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD3')" ng-mouseout="leave('SSD3')"/>
					<area shape="rect" coords="140,10,164,140" alt="ssd4" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD4')" ng-mouseout="leave('SSD4')">
					
					<area id="SSD5" shape="rect" coords="168,10,192,140" alt="ssd5" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD5')" ng-mouseout="leave('usi-ssd')"/>
					<area id="SSD6" shape="rect" coords="196,10,220,140" alt="ssd6" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD6')" ng-mouseout="leave('usi-ssd')"/>
					<area id="SSD7" shape="rect" coords="224,10,248,140" alt="ssd7" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD7')" ng-mouseout="leave('usi-ssd')"/>
					<area id="SSD8" shape="rect" coords="252,10,276,140" alt="ssd8" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD8')" ng-mouseout="leave('usi-ssd')"/>
	
					<area id="SSD9" shape="rect" coords="280,10,304,140" alt="ssd9" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD9')" ng-mouseout="leave('SSD9')"/>
					<area id="SSD10" shape="rect" coords="308,10,332,140" alt="ssd10" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD10')" ng-mouseout="leave('SSD10')"/>
					<area id="SSD11" shape="rect" coords="336,10,360,140" alt="ssd11" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD11')" ng-mouseout="leave('SSD11')"/>
					<area id="SSD12" shape="rect" coords="364,10,388,140" alt="ssd12" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD12')" ng-mouseout="leave('SSD12')"/>
					
					<area id="SSD13" shape="rect" coords="392,10,416,140" alt="ssd13" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD13')" ng-mouseout="leave('SSD13')"/>
					<area id="SSD14" shape="rect" coords="420,10,444,140" alt="ssd14" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD14')" ng-mouseout="leave('SSD14')"/>
					<area id="SSD15" shape="rect" coords="448,10,472,140" alt="ssd15" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD15')" ng-mouseout="leave('SSD15')"/>
					<area id="SSD16" shape="rect" coords="476,10,500,140" alt="ssd16" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD16')" ng-mouseout="leave('SSD16')"/>
					<!-- 
					<area id="SSD17" shape="rect" coords="504,10,528,140" alt="ssd17" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD17')" ng-mouseout="leave('SSD17')"/>
					<area id="SSD18" shape="rect" coords="532,10,560,140" alt="ssd18" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD18')" ng-mouseout="leave('SSD18')"/>
					<area id="SSD19" shape="rect" coords="564,10,558,140" alt="ssd19" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD19')" ng-mouseout="leave('SSD19')"/>
					<area id="SSD20" shape="rect" coords="592,10,616,140" alt="ssd20" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD20')" ng-mouseout="leave('SSD20')"/>
					 -->
					<area id="SSD21" shape="rect" coords="620,10,644,140" alt="ssd21" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD21')" ng-mouseout="leave('SSD21')"/>
					<area id="SSD22" shape="rect" coords="648,10,672,140" alt="ssd22" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD22')" ng-mouseout="leave('SSD22')"/>
					<area id="SSD23" shape="rect" coords="676,10,700,140" alt="ssd23" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD23')" ng-mouseout="leave('SSD23')"/>
					<area id="SSD24" shape="rect" coords="704,10,728,140" alt="ssd24" style="cursor:pointer" ng-mouseover="ssdNumSelected('SSD24')" ng-mouseout="leave('SSD24')"/> 
											
					<area id="PSA" shape="rect" coords="504,10,528,140" alt="ssd17" style="cursor:pointer" ng-mouseover="PowerSupply('PSA')" ng-mouseout="leave('usi-ps')"/>
					<area id="PSB" shape="rect" coords="532,10,560,140" alt="ssd18" style="cursor:pointer" ng-mouseover="PowerSupply('PSB')" ng-mouseout="leave('usi-ps')"/>
					<area id="PS" shape="rect" coords="620,10,644,140" alt="ssd21" style="cursor:pointer" ng-mouseover="PowerSupply('PS')" ng-mouseout="leave('usi-ps')"/>
					<area id="Cable1" shape="rect" coords="564,10,558,140" alt="ssd19" style="cursor:pointer" ng-mouseover="Cable('Cable')" ng-mouseout="leave('usi-cable')"/>
					<area id="Swinfo" shape="rect" coords="592,10,616,140" alt="ssd20" style="cursor:pointer" ng-mouseover="Switch('Swinfo')" ng-mouseout="leave('usi-switch')"/>	
					
				</map>
			</li>
			
			<li class="img_display"><div>
				<img id="rearImg" src="../../../assets/images/J2024-03-rear.png" alt="cableImage" usemap="#cableMap" />
				<map name="cableMap" >
					<area id="PSA" shape="rect" coords="40,220,110,360" alt="powerA" style="cursor:pointer" ng-mouseover="PowerSupply('PSA')" ng-mouseout="leave('PSA')"/>
					<area id="PSB" shape="rect" coords="40,220,110,360" alt="powerB" style="cursor:pointer" ng-mouseover="PowerSupply('PSB')" ng-mouseout="leave('PSB')"/>
					<area id="Cable1" shape="rect" coords="190,220,460,330" alt="cable" style="cursor:pointer" ng-mouseover="Cable('Cable1')" ng-mouseout="leave('Cable1')"/>
				</map></div>
            </li>
			
            <li class="img_display"><div>
				<img id="insideImg" src="../../../assets/images/J2024-03-internal-struct.png" alt="internal-struct" usemap="#insideMap" />
				<map name="insideMap">
				  <area id="Fan1" shape="rect" coords="240,20,300,430" alt="fan" style="cursor:pointer" ng-mouseover="Fan('Fan1')" ng-mouseleave="leave('Fan1')"/>
				  <!--<area shape="rect" coords="450,250,510,300" alt="cable" style="cursor:pointer"
					  ng-mouseover="insideFrameMouseOver('insideCable', 760, 590)" ng-mouseleave="insideFrameMouseLeave('insideCable')"/> -->
				 <area id="PS" shape="rect" coords="335,350,610,430" alt="power" style="cursor:pointer" ng-mouseover="PowerSupply('PS')" ng-mouseout="leave('PS')"/> 
				</map></div>
            </li>
	</ul>
		
		
        <div class="left_btn btn" ng-click="moveNext('left')"><p class="arrow"><</p></div>
        <div class="right_btn btn" ng-click="moveNext('right')"><p class="arrow">></p></div>

	</div>

	<div id="usi-ssd" class="row column header-row" ng-show="ssdFlag == true">
        <table id='ssd-info-body'>
			<tbody class="ssd-body-tbody">
				<tr>
					<th>SSD NO.</th><th>{{ssdNo}}</th>
				</tr>
				<tr>
					<th>Address</th><td>{{ssdx.SlotAddr}}</td>
				</tr>
				<tr>
					<th>Type</th><td>{{ssdx.Type}}</td>
				</tr>
				<tr>
					<th>Status</th><td>{{ssdx.Status}}</td>
				</tr>
				<tr>
					<th>Link Speed</th><td>{{ssdx.LinkSpeed}}</td>
				</tr>
				<tr>
					<th>Link Width</th><td>{{ssdx.LinkWidth}}</td>
				</tr>
				<tr>
					<th>Par Id</th><td>{{ssdx.PartitionID}}</td>
				</tr>
				<tr>
					<th>Inserted</th><td>{{ssdx.Inserted}}</td>
				</tr>
				<tr>
					<th>Link Status</th><td>{{ssdx.LinkStatus}}</td>
				</tr>
				<tr>
					<th>ConfigureWidth</th><td>{{ssdx.ConfigureWidth}}</td>
				</tr>
            </tbody>
        </table>
    </div>
	
    <div id="usi-cable" class="row column header-row" ng-show="cableinfoFlag == true">
      <table id='ssd-info-body'>
        <caption>Cable information </caption>
        <thead class="ssd-body-header">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>CableType</th>
                <th>SlotAddr</th>
                <th>PartitionID</th>
                <th>LinkStatus</th>
                <th>LinkActive</th>
                <th>LinkWidth</th>
                <th>PhysicalPort</th>
                <th>UspDsp</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody class="ssd-body-tbody">
            <tr ng-repeat="(cable, detail) in cableinfo" ng-show="cableinfo != 'None'">
                <td>{{cable}}</td>
                <td>{{detail.Status}}</td>
                <td>{{detail.CableType}}</td>
                <td>{{detail.SlotAddr}}</td>
                <td>{{detail.PartitionID}}</td>
                <td>{{detail.LinkStatus}}</td>
                <td>{{detail.LinkActive}}</td>
                <td>{{detail.LinkWidth}}</td>
                <td>{{detail.PhysicalPort}}</td>
                <td>{{detail.UspDsp}}</td>
                <td>{{detail.Present}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div id="usi-switch" class="row column header-row" ng-show="swinfoFlag == true">
        <table id='ssd-info-body'>
            <caption>Swinfo information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in swinfo" ng-show="swinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
	
	<div id="usi-ps" class="row column header-row" ng-show="psFlag == true">
        <table id='ssd-info-body'>
            <caption>ps info</caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ps, detail) in psinfo">
                    <td>{{ps}}</td>
                    <td>{{detail}}</td>
                </tr>
            </tbody>
        </table>
    </div>

	
	
<!--
	<div class="row column header-row" ng-show="ssdFlag == true">
        <table id='ssd-info-body'>
            <caption>SSD information</caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>SSD NO.</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Link Speed</th>
                    <th>Link Width</th>
                    <th>Par Id</th>
                    <th>Inserted</th>
                    <th>Link Status</th>
                    <th>ConfigureWidth</th>
               </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ssdNo, detail) in ssdinfo" ng-show="ssdinfo != 'None'">
                    <td>{{ssdNo}}</td>
                    <td>{{detail.SlotAddr}}</td>
                    <td>{{detail.Type}}</td>
                    <td>{{detail.Status}}</td>
                    <td>{{detail.LinkSpeed}}</td>
                    <td>{{detail.LinkStatus}}</td>
                    <td>{{detail.LinkWidth}}</td>
                    <td>{{detail.PartitionID}}</td>
                    <td>{{detail.Inserted}}</td>
                    <td>{{detail.ConfigureWidth}}</td>
                </tr>
            </tbody>
        </table>
    </div>
	
	<div class="row column header-row" ng-show="cableinfoFlag == true">
      <table id='ssd-info-body'>
        <caption>Cable information </caption>
        <thead class="ssd-body-header">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>CableType</th>
                <th>SlotAddr</th>
                <th>PartitionID</th>
                <th>LinkStatus</th>
                <th>LinkActive</th>
                <th>LinkWidth</th>
                <th>PhysicalPort</th>
                <th>UspDsp</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody class="ssd-body-tbody">
            <tr ng-repeat="(cable, detail) in cableinfo" ng-show="cableinfo != 'None'">
                <td>{{cable}}</td>
                <td>{{detail.Status}}</td>
                <td>{{detail.CableType}}</td>
                <td>{{detail.SlotAddr}}</td>
                <td>{{detail.PartitionID}}</td>
                <td>{{detail.LinkStatus}}</td>
                <td>{{detail.LinkActive}}</td>
                <td>{{detail.LinkWidth}}</td>
                <td>{{detail.PhysicalPort}}</td>
                <td>{{detail.UspDsp}}</td>
                <td>{{detail.Present}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="row column header-row" ng-show="swinfoFlag == true">
        <table id='ssd-info-body'>
            <caption>Swinfo information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in swinfo" ng-show="swinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="patopoFlag == true">
        <table id='ssd-info-body' ng-show="patopoinfo != 'None'" ng-repeat="(k, v) in patopoinfo">
            <caption>{{k}} information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in v" ng-show="patopoinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
        <table id='ssd-info-body' ng-show="patopoinfo == 'None'">
            <caption>Patopoinfo information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="row column header-row" ng-show="dspFlag == true">
        <table id='ssd-info-body'>
            <caption>dspinfo information</caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in dspinfo" ng-show="dspinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="bindinfoFlag == true">
        <table id='ssd-info-body'>
            <caption>bindinfo information </caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>bindinfo Result</th>
                    <th>bindinfo Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-show="bindinfo != 'None'">
                    <td>{{bindinfo.BindResult}}</td>
                    <td>{{bindinfo.BindStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="psFlag == true">
        <table id='ssd-info-body'>
            <caption>ps info</caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ps, detail) in psinfo">
                    <td>{{ps}}</td>
                    <td>{{detail}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

</div>