
<!--
 * @author Steven & Judy
 * @date   20200417
 * @brief  ssd inventory operations modify base the file of power usage controller
-->

<loader loading="loading"></loader>
<div id="ssd-info">

	<div class="allImage" >
		<ul class="ulimg" id="imgs">
			<li ><div id="front-img"> <!-- src="../../../assets/images/J2024-03-front.png" -->
				<img id="frontImg" src="../../images/J2024-03-front.png" class="ssd-image" alt="ssd" usemap="#SSDmap"/>
				<map name="SSDmap" >
					<area shape="rect" coords="61,130,84,248" alt="ssd1" id="usi-SSD1" ng-mouseover="SSD('SSD1')" />
					<area shape="rect" coords="90,130,113,248" alt="ssd2" id="ssdArrayStyle" ng-mouseover="SSD('SSD2')" />
					<area shape="rect" coords="119,130,142,248" alt="ssd3" id="ssdArrayStyle" ng-mouseover="SSD('SSD3')" />
					<area shape="rect" coords="146,130,169,248" alt="ssd4" id="ssdArrayStyle" ng-mouseover="SSD('SSD4')" />
					<area shape="rect" coords="175,130,198,248" alt="ssd5" id="ssdArrayStyle" ng-mouseover="SSD('SSD5')" />
					<area shape="rect" coords="204,130,226,248" alt="ssd6" id="ssdArrayStyle" ng-mouseover="SSD('SSD6')" />
					<area shape="rect" coords="232,130,254,248" alt="ssd7" id="ssdArrayStyle" ng-mouseover="SSD('SSD7')" />
					<area shape="rect" coords="259,130,281,248" alt="ssd8" id="ssdArrayStyle" ng-mouseover="SSD('SSD8')" />
					<area shape="rect" coords="286,130,309,248" alt="ssd9" id="ssdArrayStyle" ng-mouseover="SSD('SSD9')" />
					<area shape="rect" coords="315,130,337,248" alt="ssd10" id="ssdArrayStyle" ng-mouseover="SSD('SSD10')" />
					<area shape="rect" coords="342,130,364,248" alt="ssd11" id="ssdArrayStyle" ng-mouseover="SSD('SSD11')" />
					<area shape="rect" coords="370,130,392,248" alt="ssd12" id="ssdArrayStyle" ng-mouseover="SSD('SSD12')" />
					<area shape="rect" coords="396,130,419,248" alt="ssd13" id="ssdArrayStyle" ng-mouseover="SSD('SSD13')" />
					<area shape="rect" coords="425,130,447,248" alt="ssd14" id="ssdArrayStyle" ng-mouseover="SSD('SSD14')" />
					<area shape="rect" coords="452,130,475,248" alt="ssd15" id="ssdArrayStyle" ng-mouseover="SSD('SSD15')" />
					<area shape="rect" coords="480,130,503,248" alt="ssd16" id="ssdArrayStyle" ng-mouseover="SSD('SSD16')" />
					<area shape="rect" coords="508,130,531,248" alt="ssd17" id="ssdArrayStyle" ng-mouseover="SSD('SSD17')" />
					<area shape="rect" coords="535,130,556,248" alt="ssd18" id="ssdArrayStyle" ng-mouseover="SSD('SSD18')" />
					<area shape="rect" coords="560,130,583,248" alt="ssd19" id="ssdArrayStyle" ng-mouseover="SSD('SSD19')" />
					<area shape="rect" coords="589,130,613,248" alt="ssd20" id="ssdArrayStyle" ng-mouseover="SSD('SSD20')" />
					<area shape="rect" coords="618,130,641,248" alt="ssd21" id="ssdArrayStyle" ng-mouseover="SSD('SSD21')" />
					<area shape="rect" coords="645,130,669,248" alt="ssd22" id="ssdArrayStyle" ng-mouseover="SSD('SSD22')" />
					<area shape="rect" coords="675,130,698,248" alt="ssd23" id="ssdArrayStyle" ng-mouseover="SSD('SSD23')" />
					<area shape="rect" coords="703,130,726,248" alt="ssd24" id="ssdArrayStyle" ng-mouseover="SSD('SSD24')" />
				</map>
				<p id="usi-ssd1-status"><img src="ssd1url"></img></p>
				<p id="usi-ssd2-status"><img src="ssd2url"></img></p>
				</div>
			</li>
			<li class="img_display"><div id="rear-img">
				<img id="rearImg" src="../../images/J2024-03-rear.png" alt="cableImage" usemap="#cableMap"/>
				<map name="cableMap">
					<area shape="rect" coords="40,120,110,190" alt="powerA" id="ssdArrayStyle" ng-mouseover="PowerSupply('PS1')"/>
					<area shape="rect" coords="40,196,110,268" alt="powerB" id="ssdArrayStyle" ng-mouseover="PowerSupply('PS2')"/>
					<area shape="rect" coords="190,120,440,220" alt="cable1" id="ssdArrayStyle" ng-mouseover="Cable('iocca')"/>
					<area shape="rect" coords="490,120,740,220" alt="cable2" id="ssdArrayStyle" ng-mouseover="Cable('ioccb')"/>
					<area shape="rect" coords="206,240,234,264" alt="ip" id="ssdArrayStyle" ng-mouseover="Ip()"/>
					<area shape="rect" coords="494,240,525,264" alt="ip" id="ssdArrayStyle" ng-mouseover="Ip()"/>
				</map></div>
            </li>
            <li class="img_display"><div id="inside-img">
				<img id="insideImg" src="../../images/J2024-03-internal-struct.png" alt="internal-struct" usemap="#insideMap"/>
				<map name="insideMap">
					<area shape="rect" coords="220,35,280,95" id="ssdArrayStyle" ng-mouseover="Fan('Fan1')" /> 
					<area shape="rect" coords="220,115,280,170" id="ssdArrayStyle" ng-mouseover="Fan('Fan2')" />
					<area shape="rect" coords="220,195,280,255" id="ssdArrayStyle" ng-mouseover="Fan('Fan3')" />
					<area shape="rect" coords="220,275,280,330" id="ssdArrayStyle" ng-mouseover="Fan('Fan4')" />
					<area shape="rect" coords="220,355,280,410" id="ssdArrayStyle" ng-mouseover="Fan('Fan5')" />
					<!-- <area shape="rect" coords="240,20,300,430" id="ssdArrayStyle" ng-mouseover="Fan('Fan6')"/> -->
					<area shape="rect" coords="460,100,510,130" id="ssdArrayStyle" ng-mouseover="Switch('iocca')" />
					<area shape="rect" coords="460,250,510,280" id="ssdArrayStyle" ng-mouseover="Switch('ioccb')" />
					<area shape="rect" coords="335,350,610,430" id="ssdArrayStyle" ng-mouseover="PowerSupply('PS')" /> 
				    <!-- <area shape="rect" coords="335,350,610,430" id="ssdArrayStyle" ng-mouseover="BMC('iocca')" />  -->
					<area shape="rect" coords="465,300,500,325" id="ssdArrayStyle" ng-mouseover="BMC('ioccb')" /> 
				</map></div>
            </li>
		</ul>
        <div class="left_btn arrow_btn" ng-click="moveNext('left')"><p class="arrow"><</p></div>
        <div class="right_btn arrow_btn" ng-click="moveNext('right')"><p class="arrow">></p></div>
	</div>
	<div id="usi-ssd" class="usi-ssd-array" ng-show="ssdFlag == true" ng-mouseleave="leave('usi-ssd')">
        <table id='ssd-info-body' ng-show="ssdx != 'None'">
		<!-- <thead class="ssd-body-header">
				<tr><th>Item</th><th>Status</th>
				</tr>
			</thead>
			<tbody class="ssd-body-tbody">
				<tr><td>SSD NO.</td><td>{{ssdNo}}</td></tr>
				<tr><td>Address</td><td>{{ssdx.SlotAddr}}</td></tr>
				<tr><td>Type</td><td>{{ssdx.Type}}</td></tr>
				<tr><td>Status</td><td>{{ssdx.Status}}</td></tr>
				<tr><td>Link speed</td><td>{{ssdx.LinkSpeed}}</td></tr>
				<tr><td>Link width</td><td>{{ssdx.LinkWidth}}</td></tr>
				<tr><td>Par Id</td><td>{{ssdx.PartitionID}}</td></tr>
				<tr><td>Inserted</td><td>{{ssdx.Inserted}}</td></tr>
				<tr><td>Link status</td><td>{{ssdx.LinkStatus}}</td></tr>
				<tr><td>Configure width</td><td>{{ssdx.ConfigureWidth}}</td></tr>
            </tbody> -->
			<thead class="ssd-body-header">
				<tr>
					<th>SSD NO.</th>
					<th>Address</th>
					<th>Type</th>
					<th>Status</th>
					<th>Link speed</th>
					<th>Link width</th>
					<th>Par Id</th>
					<th>Inserted</th>
					<th>Link status</th>
					<th>Configure width</th>
				</tr>
			</thead>
			<tbody class="ssd-body-tbody">
				<tr>
					<td>{{ssdNo}}</td>
					<td>{{ssdx.SlotAddr}}</td>
					<td>{{ssdx.Type}}</td>
					<td>{{ssdx.Status}}</td>
					<td>{{ssdx.LinkSpeed}}</td>
					<td>{{ssdx.LinkWidth}}</td>
					<td>{{ssdx.PartitionID}}</td>
					<td>{{ssdx.Inserted}}</td>
					<td>{{ssdx.LinkStatus}}</td>
					<td>{{ssdx.ConfigureWidth}}</td>
				</tr>
			</tbody>
        </table>
    </div>
    <div id="usi-cable" class="usi-ssd-array" ng-show="cableFlag == true"  ng-mouseleave="leave('usi-cable')"> 
      <table id='ssd-info-body' ng-show="cableinfo != 'None'">
        <thead class="ssd-body-header">
            <tr>
                <th>Cable NO.</th>
                <th>Slot addr</th>
                <th>Link status</th>
                <th>Link active</th>
                <th>Link width</th>
                <th>Physical port</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody class="ssd-body-tbody">
            <tr ng-repeat="(cable, detail) in cableinfo">
                <td>{{cable}}</td>
                <td>{{detail.SlotAddr}}</td>
                <td>{{detail.LinkStatus}}</td>
                <td>{{detail.LinkActive}}</td>
                <td>{{detail.LinkWidth}}</td>
                <td>{{detail.PhysicalPort}}</td>
                <td>{{detail.Present}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="usi-ioccx" class="usi-ssd-array" ng-show="ioccxFlag == true"  ng-mouseleave="leave('usi-ioccx')"> 
      <table id='ssd-info-body' ng-show="ioccxstatus != 'None'">
        <thead class="ssd-body-header">
            <tr>
                <th>Name</th><th>Status</th>
            </tr>
        </thead>
        <tbody class="ssd-body-tbody">
            <tr>
                <td>{{ioccname}}</td><td>{{ioccxstatus}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="usi-switch" class="usi-ssd-array" ng-show="switchFlag == true" ng-mouseleave="leave('usi-switch')">
        <table id='ssd-info-body' ng-show="swinfo != 'None'">
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in swinfo">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="usi-ps" class="usi-ssd-array" ng-show="psFlag == true" ng-mouseleave="leave('usi-ps')">
        <table id='ssd-info-body' ng-show="psinfo != 'None'">
            <thead class='ssd-body-header'>
                <tr>
                    <th>Name</th>
                    <th>Power</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ps, detail) in psinfo">
                    <td>{{ps}}</td>
                    <td>{{detail.Power}}</td>
                    <td>{{detail.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="usi-psx" class="usi-ssd-array" ng-show="psxFlag == true" ng-mouseleave="leave('usi-psx')">
        <table id='ssd-info-body' ng-show="psinfo != 'None'">
            <thead class='ssd-body-header'>
                <tr>
                    <th>Name</th>
                    <th>Power</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr>
                    <td>{{psname}}</td>
                    <td>{{psinfo.Power}}</td>
                    <td>{{psinfo.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="usi-bmc" class="usi-ssd-array" ng-show="bmcFlag == true" ng-mouseleave="leave('usi-bmc')">
        <table id='ssd-info-body' ng-show="bmcinfo != 'None'">
            <thead class='ssd-body-header'>
                <tr>
                    <th>Item</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(bmc, detail) in bmcinfo">
                    <td>{{bmc}}</td>
                    <td>{{detail}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="usi-fan" class="usi-ssd-array" ng-show="fanFlag == true" ng-mouseleave="leave('usi-fan')">
        <table id='ssd-info-body' ng-show="faninfoIN != 'None'">
             <thead class='ssd-body-header'>
                <tr>
                    <th>Name</th>
                    <th>Low critical</th>
                    <th>Low warning</th>
                    <th>Current speed</th>
                    <th>Duty cycle</th>
                    <th>High warning</th>
                    <th>High critical</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr>
                    <td>{{fanInTitle}}</td>
                    <td>{{faninfoIN.CriticalLow}}<span >{{faninfoIN.unit}}</span></td> <!-- class="sensors__tbody-unit" -->
                    <td>{{faninfoIN.WarningLow}}<span >{{faninfoIN.unit}}</span></td>
                    <td>{{faninfoIN.Value}}<span >{{faninfoIN.unit}}</span></td>
                    <td>{{faninfoIN.Target}}</td>
                    <td>{{faninfoIN.WarningHigh}}<span >{{faninfoIN.unit}}</span></td>
                    <td>{{faninfoIN.CriticalHigh}}<span >{{faninfoIN.unit}}</span></td>
                </tr>
                <tr>
                    <td>{{fanOutTitle}}</td>
                    <td>{{faninfoOUT.CriticalLow}}<span >{{faninfoOUT.unit}}</span></td> <!-- class="sensors__tbody-unit" -->
                    <td>{{faninfoOUT.WarningLow}}<span >{{faninfoOUT.unit}}</span></td>
                    <td>{{faninfoOUT.Value}}<span >{{faninfoOUT.unit}}</span></td>
                    <td>{{faninfoOUT.Target}}</td>
                    <td>{{faninfoOUT.WarningHigh}}<span >{{faninfoOUT.unit}}</span></td>
                    <td>{{faninfoOUT.CriticalHigh}}<span >{{faninfoOUT.unit}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="usi-ip" class="usi-ssd-array" ng-show="ipFlag == true" ng-mouseleave="leave('usi-ip')">
        <table id='ssd-info-body' ng-show="bmc_ip_addresses != 'None'">
            <thead class='ssd-body-header'>
                <tr><th>IP Addresses</th></tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr><td>{{bmc_ip_addresses[0]}}</td></tr>
                <tr><td>{{bmc_ip_addresses[1]}}</td></tr>
            </tbody>
        </table>
    </div>
</div>


