
<!--
 * @author Steven
 * @date   20200429
 * @brief  system control
-->

<!-- <loader loading="loading"></loader> -->
<div>
    <div class="row column">
        <h1>System control</h1>
        <div class="page-header">
            <h2>AFA reboot control</h2>
        </div>
    </div>
    <div class="row column">
        <div class="bmc-reboot-header">
            <h2 class="h3">Current AFA boot status</h2>
        </div>
        <div class="float-right bmc-reboot__status-log inline">AFA last reboot at
            <span class="courier-bold">{{reboot_time | localeDate}}</span>
        </div>
    </div>
<!--     <div class="row column">
        <div class="bmc-reboot-option" ng-class="{disabled: dataService.server_unreachable || dataService.loading, transitionAll: confirm}">
            <p>When reboot AFA, your web browser loses contact with the AFA for several minutes.When the AFA is back online, you must log in again. 
		    If the Log In button is not available when the AFA is brought back online, close your web browser. Then, reopen the web browser and enter your AFA IP address.</p>
            <confirm title="Reboot the AFA" confirm="confirmreboot" ng-show="confirmreboot" callback="reboot"></confirm>
        </div>
        <div class="row column">
			<button id="bmc__reboot" class="btn  btn-secondary" ng-class="{disabled: confirm}" ng-click="rebootConfirm()" ng-disabled="dataService.server_unreachable">
				<icon file="icon-restart.svg"></icon>Reboot AFA
			</button>
		</div>
    </div><br><br> -->
    <div class="row column">
        <p>When reboot AFA, your web browser loses contact with the AFA for several minutes.When the AFA is back online, you must log in again. 
            If the Log In button is not available when the AFA is brought back online, close your web browser. Then, reopen the web browser and enter your AFA IP address.</p>
    </div>
    <div class="row column">
		<button id="bmc__reboot" class="btn  btn-secondary" ng-click="rebootSetting=true" ng-disabled="dataService.server_unreachable">
			<icon file="icon-restart.svg"></icon>Reboot AFA
		</button>
    </div><br><br>

    <div class="row column">
        <div class="page-header">
            <h2>Switch power control</h2>
        </div>
    </div>
    <div class="row column">
        <p>AFA switch is <span class="led-switch__status">{{switch_state}}.</span>
            When update switch firmware, please make sure that the switch is power on!
        </p>
    </div>
    <div class="row column" ng-show="switch_state == 'Power Off' ">
        <button id="bmc__reboot" class="btn btn-secondary" ng-click="confirmSettings=true" ng-disabled="dataService.server_unreachable">
            <icon file="icon-power.svg"></icon>Power on switch
        </button>
    </div>
    <div class="row column" ng-show="switch_state == 'Power On' ">
        <button id="bmc__reboot" class="btn btn-secondary" ng-click="confirmSettings=true" ng-disabled="dataService.server_unreachable">
            <icon file="icon-power.svg"></icon>Power off switch
        </button>
    </div>
	<!-- <div class="row column">
		<div class="bmc-reboot-option" >
            <p>AFA switch is <span class="led-switch__status">{{switch_state}}.</span></p>
		</div>
    </div>
    <div class="column power-option" ng-show="switch_state == 'Power Off' ">
        <button id="power__warm-boot" class="btn btn-secondary" ng-click="poweronConfirm()" ng-disabled="dataService.server_unreachable">
            <icon file="icon-power.svg"></icon>Power on</button>
            <confirm title="Power on switch" confirm="confirmPowerOn" ng-show="confirmPowerOn" callback="toggleSwitchPower('poweron switch')"></confirm>
    </div>
    <div class="column power-option" ng-show="switch_state == 'Power On' ">
        <button id="power__warm-boot" class="btn btn-secondary" ng-click="poweroffConfirm()" ng-disabled="dataService.server_unreachable">
            <icon file="icon-power.svg"></icon>Power off</button>
            <confirm title="Power off switch" confirm="confirmPowerOff" ng-show="confirmPowerOff" callback="toggleSwitchPower('poweroff switch')"></confirm>
    </div> -->

    <!-- <div class="row column" ng-class="{disabled: dataService.server_unreachable || dataService.loading}">
        <div class="btm-border-grey">
            <div class="toggle inline">
                <input id="toggle__switch-round"
                       class="toggle-switch toggle-switch__round-flat"
                       type="checkbox"
                       tabindex="0"
                       ng-click="toggleSwitchPower()"
                       ng-checked="switch_state == 'Power On'"
                       ng-disabled="dataService.server_unreachable"
                       >
                <label for="toggle__switch-round" tabindex="0">Switch power is <span class="led-switch__status">{{switch_state}}</span></label>
            </div>
            <div class="led-switch__label inline">
                <p>AFA switch is <span class="led-switch__status">{{switch_state}}</span></p>
                <p>Turn the switch power on or off. When you operate the switch or update switch firmware, please make sure that the switch is power on! </p>
            </div>
        </div>
    </div> -->

</div>

<div class="modal-overlay" tabindex="-1" ng-class="{'active': confirmSettings}"></div>
<section class="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" ng-class="{'active': confirmSettings}">
	<div class="modal__tftp-unreachable" role="document">
		<div class="screen-reader-offscreen modal-description">Change power switch status</div>
		<div class="page-header">
			<span class="icon icon__warning inline"><span class="accessible-text" role="alert">Warning</span></span>
			<h3 class="modal-title inline">Change power switch status</h3>
		</div>
		<div class="modal__content">
			<p>Are you sure you want to continue?</p>
		</div>
		<div class="modal__button-wrapper">
			<button class="btn btn-secondary" ng-click="confirmSettings=false">No</button>
			<button class="btn btn-primary" ng-click="toggleSwitchPower()">Yes</button>
		</div>
	</div>
</section>


<div class="modal-overlay" tabindex="-1" ng-class="{'active': rebootSetting}"></div>
<section class="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" ng-class="{'active': rebootSetting}">
	<div class="modal__tftp-unreachable" role="document">
		<div class="screen-reader-offscreen modal-description">Reboot AFA</div>
		<div class="page-header">
			<span class="icon icon__warning inline"><span class="accessible-text" role="alert">Warning</span></span>
			<h3 class="modal-title inline">Reboot AFA</h3>
		</div>
		<div class="modal__content">
			<p>Are you sure you want to continue?</p>
		</div>
		<div class="modal__button-wrapper">
			<button class="btn btn-secondary" ng-click="rebootSetting=false">No</button>
			<button class="btn btn-primary" ng-click="reboot()">Yes</button>
		</div>
	</div>
</section>
