// SSD Array
#ssd-header {
  text-align: center;
  margin: auto;
}
#ssd-info-header {
  text-align: center;
  border-color: #FFFFFF;
}
#ssd-info-header tr {
  text-align: center;
  height: 85px;
}
#ssd-info-header tr td {
  width: 140px;
  background: #B088FF;
  font-size: 12px;
  border: 2px solid #0000AE;
  text-align: center;
}
#ssd-info-header tr td:hover{
  background: #FF704D;
}

#ssd-info-body {
  text-align: center;
  border: 2px solid;
  border-color: #0000FF;
  margin: auto;
}

.ssd-info-body-right {
  position: relative;
  right: 150px;
}

.ssd-body-header {
  text-align: center;
}
.ssd-body-header caption {
  text-align: center;
}
.ssd-body-header tr th {
  font-size: 12px;
  text-align: center;
}

.ssd-body-tbody tr {
  text-align: center;
}
.ssd-body-tbody tr td {
  font-size: 12px;
  text-align: center;
}

.usi-ssd-array th , td {
  text-align: center;
  font-size: medium;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 3px;
}
.usi-ssd-array tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-ssd-array tr:nth-child(even) {
  background-color: #ffffff;
}
#ssdDetailThread tr th {
  font-size: 12px;
  text-align: center;
}

// Image
.allImage{
    height: 470px;
    width: 850px;
    margin: 0px auto;
    position:relative;
    left: -8%;
}
.img li{
    position: absolute;
    top: 0;
    left: 30px;
    margin:0 auto;
    left: 40%;
    top: 0%;
    transform: translate(-40%,-0%);
}
.arrow_btn{
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
    line-height: 60px;
    top: 45%;
    margin-top: -20px;
    display: none;
}
.left_btn{
    left: 0;
}
.right_btn{
    right: 0;
}
.arrow{
    margin-top: 10px;
}
.allImage:hover .arrow_btn{
    display: inline-block;
    cursor: pointer;
}
.img_display{
    display: none;
}
#cableDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}
#insideFrameDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}

#frontImg #rearImg{
    width: 764px;
    height: 350px;
}
#insideImg{
    width: 600px;
    height: 450px;
}

#ssdArrayStyle{
	cursor:pointer;
}

#usi-ssd #usi-cable #usi-switch #usi-ps #usi-psx #usi-fan #ssd-info-body{
	pointer-events: none;
}

.ulimg li {
	list-style: none;
}


#usi-partition1_0{
  text-align: center;
  border: 2px solid;
  border-color: #e116e2;
  margin: auto;
}
 #usi-partition2_0 {
  text-align: center;
  border: 2px solid;
  border-color: #e116e2;
  margin: auto;
}
 #usi-partition4_0{
  text-align: center;
  border: 2px solid;
  border-color: #e116e2;
  margin: auto;
}

#usi-partition2_1 {
  text-align: center;
  border: 2px solid;
  border-color: #e2cb16;
  margin: auto;
}
#usi-partition4_1{
  text-align: center;
  border: 2px solid;
  border-color: #e2cb16;
  margin: auto;
}

#usi-partition4_2{
  text-align: center;
  border: 2px solid;
  border-color: #419641e0;
  margin: auto;
}

#usi-partition4_3{
  text-align: center;
  border: 2px solid;
  border-color: #351bf9e0;
  margin: auto;
}

.usi-patopo tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-patopo tr:nth-child(even) {
  background-color: #ffffff;
}

.usi-patopo th , td {
  text-align: center;
  font-size: 12px;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 3px;
}