// SSD Array
#ssd-header {
  text-align: center;
  margin: auto;
}
#ssd-info-header {
  text-align: center;
  //border-color: #FFFFFF;
}
#ssd-info-header tr {
  text-align: center;
  height: 85px;
}
#ssd-info-header tr td {
  width: 140px;
  background: #B088FF;
  font-size: 12px;
  border: 2px solid #0000AE;
  text-align: center;
}
#ssd-info-header tr td:hover{
  background: #FF704D;
}

#ssd-info-body {
  text-align: center;
  //border: 2px solid;
  //border-color: #56aaff;
  margin: auto;
}

.ssd-info-body-right {
  position: relative;
  right: 150px;
}

.ssd-body-header {
  text-align: center;
}
.ssd-body-header caption {
  text-align: center;
}
.ssd-body-header tr th {
  font-size: 12px;
  text-align: center;
}

.ssd-body-tbody tr {
  text-align: center;
}
.ssd-body-tbody tr td {
  font-size: 12px;
  text-align: center;
}

.usi-ssd-array th , td {
  text-align: center;
  font-size: medium;
  border: 1px solid grey;
  //border-collapse: collapse;
  padding: 3px;
}
.usi-ssd-array tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-ssd-array tr:nth-child(even) {
  background-color: #ffffff;
}
#ssdDetailThread tr th {
  font-size: 12px;
  text-align: center;
}

// Image
.allImage{
    height: 470px;
    width: 850px;
    margin: 0px auto;
    position:relative;
    left: 0%;
}
.img li{
    position: absolute;
    top: 0;
    left: 30px;
    margin:0 auto;
    left: 40%;
    top: 0%;
    transform: translate(-40%,-0%);
}
.arrow_btn{
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
    line-height: 60px;
    top: 45%;
    margin-top: -30px;
    display: none;
}
.left_btn{
    left: 0;
}
.right_btn{
    right: 0;
}
.arrow{
    margin-top: 10px;
}
.allImage:hover .arrow_btn{
    display: inline-block;
    cursor: pointer;
}
.img_display{
    display: none;
}
#cableDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}
#insideFrameDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}

#frontImg #rearImg{
    width: 764px;
    height: 350px;
}
#insideImg{
    width: 600px;
    height: 450px;
}
#front-img {
    padding-right: 40px;
    padding-top: 30px;
}
#rare-img {
    padding-left: 6px;
    padding-top: 30px;
}
#inside-img {
    padding-left: 60px;
}

#ssdArrayStyle{
    cursor:pointer;
}

#usi-ssd #usi-cable #usi-switch #usi-ps #usi-psx #usi-fan #usi-ioccx #usi-bmc #usi-ip #ssd-info-body{
    pointer-events: none;
}

.ulimg li {
    list-style: none;
}

#ssd-info table {
    border-collapse: separate;
    border-spacing: 0px;
}

/// table radius angular
#ssd-info table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#ssd-info table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#ssd-info table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#ssd-info table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
///table border
#ssd-info table tr:first-child th{
    border-top: 4px solid #56aaff;
}
#ssd-info table tr th:first-child, #ssd-info table tr td:first-child {
    border-left: 4px solid #56aaff;
}
#ssd-info table tr th:last-child, #ssd-info table tr td:last-child {
    border-right: 4px solid #56aaff;
}
#ssd-info table tr:last-child td{
    border-bottom: 4px solid #56aaff;
}



///partition
.usi-patopo table {
    border-collapse: separate;
    border-spacing: 0px;
}
#usi-partition1_0{
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}
 #usi-partition2_0 {
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}
 #usi-partition4_0{
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}

#usi-partition2_1 {
  text-align: center;
  //border: 4px solid;
  //border-color: #e2cb16;
  margin: auto;
}
#usi-partition4_1{
  text-align: center;
  //border: 4px solid;
  //border-color: #e2cb16;
  margin: auto;
}
#usi-partition4_2{
  text-align: center;
  //border: 4px solid;
  //border-color: #419641e0;
  margin: auto;
}
#usi-partition4_3{
  text-align: center;
  //border: 4px solid;
  //border-color: #351bf9e0;
  margin: auto;
}
.usi-patopo tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-patopo tr:nth-child(even) {
  background-color: #ffffff;
}
.usi-patopo th , td {
  text-align: center;
  font-size: 12px;
  border: 1px solid grey;
  //border-collapse: collapse;
  padding: 3px;
}

///table radius angular
#usi-patopo-4 table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#usi-patopo-4 table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#usi-patopo-4 table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#usi-patopo-4 table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

#usi-patopo4-0 table tr:first-child th {
    border-top: 4px solid #e116e2;
}
#usi-patopo4-0 table tr th:first-child, #usi-patopo4-0 table tr td:first-child {
    border-left: 4px solid #e2cb16;
}
#usi-patopo4-0 table tr th:last-child, #usi-patopo4-0 table tr td:last-child {
    border-right: 4px solid #419641e0;
    }
#usi-patopo4-0 table tr:last-child td{
    border-bottom: 4px solid #351bf9e0;
}
