// SSD Array
#ssd-header {
  text-align: center;
  margin: auto;
}
#ssd-info-header {
  text-align: center;
  //border-color: #FFFFFF;
}
#ssd-info-header tr {
  text-align: center;
  height: 85px;
}
#ssd-info-header tr td {
  width: 140px;
  background: #B088FF;
  font-size: 12px;
  border: 2px solid #0000AE;
  text-align: center;
}
#ssd-info-header tr td:hover{
  background: #FF704D;
}

#ssd-info-body {
  text-align: center;
  //border: 2px solid;
  //border-color: #56aaff;
  margin: auto;
}

.ssd-info-body-right {
  position: relative;
  right: 150px;
}

.ssd-body-header {
  text-align: center;
}
.ssd-body-header caption {
  text-align: center;
}
.ssd-body-header tr th {
  font-size: 12px;
  text-align: center;
}

.ssd-body-tbody tr {
  text-align: center;
}
.ssd-body-tbody tr td {
  font-size: 12px;
  text-align: center;
}

.usi-ssd-array th , td {
  text-align: center;
  font-size: medium;
  border: 1px solid grey;
  //border-collapse: collapse;
  padding: 3px;
}
.usi-ssd-array tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-ssd-array tr:nth-child(even) {
  background-color: #ffffff;
}
#ssdDetailThread tr th {
  font-size: 12px;
  text-align: center;
}

// Image
.allImage{
    height: 470px;
    width: 850px;
    margin: 0px auto;
    position:relative;
    left: 0%;
}
.img li{
    position: absolute;
    top: 0;
    left: 30px;
    margin:0 auto;
    left: 40%;
    top: 0%;
    transform: translate(-40%,-0%);
}
.arrow_btn{
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
    line-height: 60px;
    top: 45%;
    margin-top: -30px;
    display: none;
}
.left_btn{
    left: 0;
}
.right_btn{
    right: 0;
}
.arrow{
    margin-top: 10px;
}
.allImage:hover .arrow_btn{
    display: inline-block;
    cursor: pointer;
}
.img_display{
    display: none;
}
#cableDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}
#insideFrameDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}

#frontImg #rearImg{
    width: 764px;
    height: 350px;
}
#insideImg{
    width: 600px;
    height: 450px;
}
#front-img {
    padding-right: 40px;
    padding-top: 30px;
}
#rare-img {
    padding-left: 6px;
    padding-top: 30px;
}
#inside-img {
    padding-left: 60px;
}

#ssdArrayStyle{
    cursor:pointer;
}

#usi-ssd #usi-cable #usi-switch #usi-ps #usi-psx #usi-fan #usi-ioccx #usi-bmc #usi-ip #ssd-info-body{
    pointer-events: none;
}

.ulimg li {
    list-style: none;
}

#ssd-info table {
    border-collapse: separate;
    border-spacing: 0px;
}

/// table radius angular
#ssd-info table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#ssd-info table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#ssd-info table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#ssd-info table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
///table border
#ssd-info table tr:first-child th{
    border-top: 4px solid #56aaff;
}
#ssd-info table tr th:first-child, #ssd-info table tr td:first-child {
    border-left: 4px solid #56aaff;
}
#ssd-info table tr th:last-child, #ssd-info table tr td:last-child {
    border-right: 4px solid #56aaff;
}
#ssd-info table tr:last-child td{
    border-bottom: 4px solid #56aaff;
}

#usi-ssd1-status{position:absolute; left:104px; top:200px;}
#usi-ssd2-status{position:absolute; left:132px; top:200px;}
#usi-ssd3-status{position:absolute; left:160px; top:200px;}
#usi-ssd4-status{position:absolute; left:187px; top:200px;}
#usi-ssd5-status{position:absolute; left:217px; top:200px;}

#usi-ssd6-status{position:absolute; left:243px; top:200px;}
#usi-ssd7-status{position:absolute; left:271px; top:200px;}
#usi-ssd8-status{position:absolute; left:298px; top:200px;}
#usi-ssd9-status{position:absolute; left:325px; top:200px;}
#usi-ssd10-status{position:absolute; left:352px; top:200px;}

#usi-ssd11-status{position:absolute; left:378px; top:200px;}
#usi-ssd12-status{position:absolute; left:405px; top:200px;}
#usi-ssd13-status{position:absolute; left:433px; top:200px;}
#usi-ssd14-status{position:absolute; left:460px; top:200px;}
#usi-ssd15-status{position:absolute; left:487px; top:200px;}

#usi-ssd16-status{position:absolute; left:514px; top:200px;}
#usi-ssd17-status{position:absolute; left:541px; top:200px;}
#usi-ssd18-status{position:absolute; left:568px; top:200px;}
#usi-ssd19-status{position:absolute; left:595px; top:200px;}
#usi-ssd20-status{position:absolute; left:622px; top:200px;}

#usi-ssd21-status{position:absolute; left:651px; top:200px;}
#usi-ssd22-status{position:absolute; left:678px; top:200px;}
#usi-ssd23-status{position:absolute; left:707px; top:200px;}
#usi-ssd24-status{position:absolute; left:734px; top:200px;}


///partition
.usi-patopo table {
    border-collapse: separate;
    border-spacing: 0px;
}
#usi-partition1_0{
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}
 #usi-partition2_0 {
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}
 #usi-partition4_0{
  text-align: center;
  //border: 4px solid;
  //border-color: #e116e2;
  margin: auto;
}

#usi-partition2_1 {
  text-align: center;
  //border: 4px solid;
  //border-color: #e2cb16;
  margin: auto;
}
#usi-partition4_1{
  text-align: center;
  //border: 4px solid;
  //border-color: #e2cb16;
  margin: auto;
}
#usi-partition4_2{
  text-align: center;
  //border: 4px solid;
  //border-color: #419641e0;
  margin: auto;
}
#usi-partition4_3{
  text-align: center;
  //border: 4px solid;
  //border-color: #351bf9e0;
  margin: auto;
}
.usi-patopo tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.usi-patopo tr:nth-child(even) {
  background-color: #ffffff;
}
.usi-patopo th , td {
  text-align: center;
  font-size: 12px;
  border: 1px solid grey;
  //border-collapse: collapse;
  padding: 3px;
}

///partition table4 radius angular
#usi-patopo4 table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#usi-patopo4 table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#usi-patopo4 table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#usi-patopo4 table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
///partition table4-0
#usi-patopo4-0 table tr:first-child th {
    border-top: 4px solid #e116e2;
}
#usi-patopo4-0 table tr th:first-child, #usi-patopo4-0 table tr td:first-child {
    border-left: 4px solid #e116e2;
}
#usi-patopo4-0 table tr th:last-child, #usi-patopo4-0 table tr td:last-child {
    border-right: 4px solid #e116e2;
    }
#usi-patopo4-0 table tr:last-child td{
    border-bottom: 4px solid #e116e2;
}
///partition table4-1
#usi-patopo4-1 table tr:first-child th {
    border-top: 4px solid #e2cb16;
}
#usi-patopo4-1 table tr th:first-child, #usi-patopo4-1 table tr td:first-child {
    border-left: 4px solid #e2cb16;
}
#usi-patopo4-1 table tr th:last-child, #usi-patopo4-1 table tr td:last-child {
    border-right: 4px solid #e2cb16;
    }
#usi-patopo4-1 table tr:last-child td{
    border-bottom: 4px solid #e2cb16;
}
///partition table4-2
#usi-patopo4-2 table tr:first-child th {
    border-top: 4px solid #419641e0;
}
#usi-patopo4-2 table tr th:first-child, #usi-patopo4-2 table tr td:first-child {
    border-left: 4px solid #419641e0;
}
#usi-patopo4-2 table tr th:last-child, #usi-patopo4-2 table tr td:last-child {
    border-right: 4px solid #419641e0;
    }
#usi-patopo4-2 table tr:last-child td{
    border-bottom: 4px solid #419641e0;
}
///partition table4-3
#usi-patopo4-3 table tr:first-child th {
    border-top: 4px solid #351bf9e0;
}
#usi-patopo4-3 table tr th:first-child, #usi-patopo4-3 table tr td:first-child {
    border-left: 4px solid #351bf9e0;
}
#usi-patopo4-3 table tr th:last-child, #usi-patopo4-3 table tr td:last-child {
    border-right: 4px solid #351bf9e0;
    }
#usi-patopo4-3 table tr:last-child td{
    border-bottom: 4px solid #351bf9e0;
}

///partition table2 radius angular
#usi-patopo2 table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#usi-patopo2 table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#usi-patopo2 table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#usi-patopo2 table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
///partition table2-0
#usi-patopo2-0 table tr:first-child th {
    border-top: 4px solid #e116e2;
}
#usi-patopo2-0 table tr th:first-child, #usi-patopo2-0 table tr td:first-child {
    border-left: 4px solid #e116e2;
}
#usi-patopo2-0 table tr th:last-child, #usi-patopo2-0 table tr td:last-child {
    border-right: 4px solid #e116e2;
    }
#usi-patopo2-0 table tr:last-child td{
    border-bottom: 4px solid #e116e2;
}
///partition table2-1
#usi-patopo2-1 table tr:first-child th {
    border-top: 4px solid #e2cb16;
}
#usi-patopo2-1 table tr th:first-child, #usi-patopo2-1 table tr td:first-child {
    border-left: 4px solid #e2cb16;
}
#usi-patopo2-1 table tr th:last-child, #usi-patopo2-1 table tr td:last-child {
    border-right: 4px solid #e2cb16;
    }
#usi-patopo2-1 table tr:last-child td{
    border-bottom: 4px solid #e2cb16;
}

///partition table1 radius angular
#usi-patopo1 table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
#usi-patopo1 table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
#usi-patopo1 table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
#usi-patopo1 table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
///partition table2-0
#usi-patopo1 table tr:first-child th {
    border-top: 4px solid #e116e2;
}
#usi-patopo1 table tr th:first-child, #usi-patopo1 table tr td:first-child {
    border-left: 4px solid #e116e2;
}
#usi-patopo1 table tr th:last-child, #usi-patopo1 table tr td:last-child {
    border-right: 4px solid #e116e2;
    }
#usi-patopo1 table tr:last-child td{
    border-bottom: 4px solid #e116e2;
}