// SSD Array
#ssd-header {
  text-align: center;
  margin: auto;
}
#ssd-info-header {
  text-align: center;
  border-color: #FFFFFF;
}
#ssd-info-header tr {
  text-align: center;
  height: 85px;
}
#ssd-info-header tr td {
  width: 140px;
  background: #B088FF;
  font-size: 12px;
  border: 2px solid #0000AE;
  text-align: center;
}
#ssd-info-header tr td:hover{
  background: #FF704D;
}

#ssd-info-body {
  text-align: center;
  border: 2px solid;
  border-color: #0000FF;
  margin: auto;
}

.ssd-info-body-right {
  position: relative;
  right: 150px;
}

.ssd-body-header {
  text-align: center;
}
.ssd-body-header caption {
  text-align: center;
}
.ssd-body-header tr th {
  font-size: 12px;
  text-align: center;
}

.ssd-body-tbody tr {
  text-align: center;
}
.ssd-body-tbody tr td {
  font-size: 11px;
  text-align: center;
}

th , td {
  text-align: center;
  font-size: medium;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
 tr:nth-child(odd) {
  background-color: #f1f1f1;
}
 tr:nth-child(even) {
  background-color: #ffffff;
}
#ssdDetailThread tr th {
  font-size: 12px;
  text-align: center;
}

// Image
.allImage{
    height: 470px;
    width: 850px;
    margin: 0px auto;
    position:relative;
    left: -8%;
}
.img li{
    position: absolute;
    top: 0;
    left: 30px;
    margin:0 auto;
    left: 40%;
    top: 0%;
    transform: translate(-40%,-0%);
}
.btn{
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: darkgray;
    color: white;
    text-align: center;
    line-height: 60px;
    top: 45%;
    margin-top: -20px;
    display: none;
}
.left_btn{
    left: 0;
}
.right_btn{
    right: 0;
}
.allImage:hover .btn{
    display: inline-block;
    cursor: pointer;
}
.img_display{
    display: none;
}
#cableDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}
#insideFrameDiv{
    display: none;
    position: absolute;
    background-color: #7d8489;
    width: 150px;
}

#frontImg #rareImg{
    width: 764px;
    height: 350px;
}
#insideImg{
    width: 600px;
    height: 450px;
}