<!--
 Upload/Update/Active switch firmware page.
 Ref firmware-list.html
 Judy add 20190710
-->

<div class="row column firmware__table">
  <!--<div class="table-header-usi column small-12">
     <p class="inline">{{title}}</p> 
    <div>
      <p class="inline firmware__active-version">
        To be activate version: {{version.toBeActiveVersion}};{{version.type}}
      </p><br>
      <p class="inline firmware__active-version">Functional version:
        ConfigureFile:{{version.configurationFile}}; FirmwareImage: {{version.switchActivedVersion}}
      </p>
    </div>
  </div>-->
  
  <div class="table row column">
	  <div class="table__head">
		  <div class="table__row">
			  <div class="table__cell firmware__version">PCIe firmware image</div>
			  <!-- <div class="table__cell firmware__version">Configure file</div> -->
			  <div class="table__cell firmware__version">Functional</div>
			  <div class="table__cell firmware__action">ToBe activated</div>
          </div>
      </div>
  </div>
  <div class="table__body">
	  <div class="table__row">
		  <div ng-if="version.switchActivedVersion!='None'" class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
		      <span class="table__cell-label">version:</span> {{version.switchActivedVersion}}
          </div>
		  <!-- <div class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
		      <span class="table__cell-label">version:</span> v{{version.configurationFile}}
          </div> -->
		  <div ng-if="version.configurationFile!='None'" class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
		      <span class="table__cell-label">version:</span> v{{version.configurationFile}}
          </div>
	      <div ng-if="version.toBeActiveVersion!='None'" class="table__cell firmware__action" ng-class="{'active':firmware.isExtended}">
		      <span class="table__cell-label">version:</span> v{{version.toBeActiveVersion}}
          </div>
	  </div>
  </div>
  
  <div class="table row column">
    <div class="table__head">
      <div class="table__row">
        <div class="table__cell firmware__version">Version</div>
        <div class="table__cell firmware__version">Type</div>
        <div class="table__cell firmware__action">Action</div>
      </div>
    </div>
    <div class="table__body">
      <div class="table__row" ng-repeat="firmware in firmwares">
        <div ng-if="firmware.Version!='None'" class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
          <span class="table__cell-label">Version:</span> v{{firmware.Version}}
        </div>
        <div ng-if="firmware.Type!='None'" class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
          <span class="table__cell-label">Type:</span>{{firmware.Type}}
        </div>
        <div ng-if="firmware.Version!='None'" class="table__cell firmware__action">
            <span class="table__cell-label">Action:</span>
            <div>
                <!--  Display button: Active, Update, Delete in different scene. -->
                <div ng-if="version.toBeActiveVersion != 'None'">
                    <button class="firmware__action-link"
                        ng-click="run(firmware.Name, firmware.Version, firmware.Type)">Active
                    </button>
                </div>
                <!-- After Upload, before Update -->
                <div ng-if="firmware.Version != 'None' && version.toBeActiveVersion == 'None'">
                    <button class="firmware__action-link"
                        ng-click="update(firmware.Name, firmware.Version, firmware.Type)">update
                    </button>
                    <button class="firmware__action-link"
                        ng-click="delete(firmware.Name, firmware.Version)">Delete
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="inline uploading" ng-show="version.updating">Update in progress...</div>
    <div class="inline uploading" ng-show="version.activing">Active in progress...</div>
  </div>
</div>
