
<!--
 * @author Judy
 * @date   20190524
 * @brief  ssd inventory operations modify base the file of power usage controller
-->

<loader loading="loading"></loader>
<div id="ssd-info">
    <div class="row column">
        <h1>JBOF inventory information</h1>
    </div>

    <div class="row column header-row">
        <table id='ssd-info-header'>
            <tr>
                <td ng-mouseover="changeStatus('ssd')">SSD information</td>
                <td ng-mouseover="changeStatus('cable')">Cable information</td>
                <td ng-mouseover="changeStatus('swinfo')">Swinfo information</td>
                <td ng-mouseover="changeStatus('dsp')">dspinfo information</td>
                <td ng-mouseover="changeStatus('patopo')">patopo information</td>
                <td ng-mouseover="changeStatus('bind')">bindinfo information</td>
                <td ng-mouseover="changeStatus('ps')">Power supply information</td>
            </tr>
        </table>
    </div>

    <div class="row column header-row" ng-show="ssdFlag == true">
        <table id='ssd-info-body'>
            <caption>SSD information</caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>SSD NO.</th>
                    <th>Address</th>
                    <th>Type</th>
                    <!--<th>Value</th>-->
                    <th>Status</th>
                    <th>Link Speed</th>
                    <th>Link Width</th>
                    <th>Par Id</th>
                    <th>Inserted</th>
                    <th>Link Status</th>
                    <th>ConfigureWidth</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ssdNo, detail) in ssdinfo" ng-show="ssdinfo != 'None'">
                    <td>{{ssdNo}}</td>
                    <td>{{detail.SlotAddr}}</td>
                    <td>{{detail.Type}}</td>
                    <!--<td>{{detail.Value}}</td>-->
                    <td>{{detail.Status}}</td>
                    <td>{{detail.LinkSpeed}}</td>
                    <td>{{detail.LinkStatus}}</td>
                    <td>{{detail.LinkWidth}}</td>
                    <td>{{detail.PartitionID}}</td>
                    <td>{{detail.Inserted}}</td>
                    <td>{{detail.ConfigureWidth}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="cableinfoFlag == true">
      <table id='ssd-info-body'>
        <caption>Cable information </caption>
        <thead class="ssd-body-header">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <!--<th>Value</th>-->
                <th>CableType</th>
                <th>SlotAddr</th>
                <th>PartitionID</th>
                <th>LinkStatus</th>
                <th>LinkActive</th>
                <th>LinkWidth</th>
                <th>PhysicalPort</th>
                <th>UspDsp</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody class="ssd-body-tbody">
            <tr ng-repeat="(cable, detail) in cableinfo" ng-show="cableinfo != 'None'">
                <td>{{cable}}</td>
                <td>{{detail.Status}}</td>
                <!--<td>{{detail.Value}}</td>-->
                <td>{{detail.CableType}}</td>
                <td>{{detail.SlotAddr}}</td>
                <td>{{detail.PartitionID}}</td>
                <td>{{detail.LinkStatus}}</td>
                <td>{{detail.LinkActive}}</td>
                <td>{{detail.LinkWidth}}</td>
                <td>{{detail.PhysicalPort}}</td>
                <td>{{detail.UspDsp}}</td>
                <td>{{detail.Present}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="row column header-row" ng-show="swinfoFlag == true">
        <table id='ssd-info-body'>
            <caption>Swinfo information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in swinfo" ng-show="swinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="patopoFlag == true">
        <table id='ssd-info-body' ng-repeat="(key, info) in patopoinfo">
            <caption>{{key}} information </caption>
            <thead class="ssd-body-header">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in info" ng-show="patopoinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="dspFlag == true">
        <table id='ssd-info-body'>
            <caption>dspinfo information</caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(item, value) in dspinfo" ng-show="dspinfo != 'None'">
                    <td>{{item}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="bindinfoFlag == true">
        <table id='ssd-info-body'>
            <caption>bindinfo information </caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>bindinfo Result</th>
                    <th>bindinfo Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-show="bindinfo != 'None'">
                    <td>{{bindinfo.BindResult}}</td>
                    <td>{{bindinfo.BindStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row column header-row" ng-show="psFlag == true">
        <table id='ssd-info-body'>
            <caption>ps info</caption>
            <thead class='ssd-info-header'>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="ssd-body-tbody">
                <tr ng-repeat="(ps, detail) in psinfo">
                    <td>{{ps}}</td>
                    <td>{{detail}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>